//- Mixins (~= functions which returns HTML)

mixin buttonBack()
  i.fa.fa-arrow-left.buttonBack.clickable(aria-hidden='true', data-direction="-1")

mixin myCheckbox(id, name, value, checked, text)
  .form-check
    label.form-check-label
      input.form-check-input(id=id, type='radio', name=name, value=value, checked=checked)
      |  #{text}

mixin mySelect(id, options)
  select(id=id)
    each option in options
      option= option

mixin myAction(action, icon)
  .placeholder
    .card.clickable.launchAction(data-direction="+1")
      .card-block.text-nowrap.text-uppercase
        i.fa(aria-hidden='true', class=icon)
        |  #{action}
  .menu.hidden
    +buttonBack
    button.btn.btn-primary.btn-lg.btn-block(type='button', onclick="alert('Et là : nouvelle page avec les recherches')")
      i.fa.fa-magic(aria-hidden='true')
      |  #{action} automatiquement
    |  
    button.btn.btn-outline-primary.btn-lg.btn-block.manual.clickable(type='button', data-direction="+1") #{action} manuellement
  .form.hidden
    +buttonBack
    .form-group#divChangeDirection
      span.batiment BF
      button.btn.btn-primary.changeDirection ➞
      span.batiment PG
    .form-group.row
      .col-xs-6
        - var o = array( "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" )
        +mySelect("day", o)
      .col-xs-6
        - var o = array("8h","10h15","12h15","14h15","16h30","18h30")
        +mySelect("hour", o)
    .form-group
      +myCheckbox(null, "recurrence", "all", "checked", "Toutes les semaines")
      +myCheckbox(null, "recurrence", "a", null, "Semaine A")
      +myCheckbox(null, "recurrence", "b", null, "Semaine B")
      +myCheckbox("togglePonctual", "recurrence", "ponctual", null, "Une seule fois")
    .form-group.row.hidden.ponctual
      label.col-xs-4.col-form-label(for='example-datetime-local-input') Seulement le
      .col-xs-8
        input#example-datetime-local-input.form-control(type='datetime-local', value='2011-08-19')
    button.btn.btn-lg.btn-block.btn-primary(type='submit')= action

//- Now the real HTML

doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/fullcalendar.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
  body.container-fluid
    .row
      nav.navbar.navbar-light.bg-faded
        ul.nav.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              i.fa.fa-th(aria-hidden='true')
              |  #{title}
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#')
              i.fa.fa-car(aria-hidden='true')
              |  Covoit BF-PG
          li.nav-item
            a.nav-link(href='#')
              i.fa.fa-user(aria-hidden='true')
              |  #{user}
      .col-md-12.col-lg-6.container-fluid.verticalSplit.verticalSplit2
        .row.rechercher.action
          +myAction("Rechercher", "fa-search")
        .row.proposer.action
          +myAction("Proposer", "fa-calendar-plus-o")
      .col-md-12.col-lg-6.agenda.verticalSplit
        #calendarDiv
          #calendar
    script(src='js/jquery-3.1.1.min.js')
    script(src='js/moment-with-locales.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/fullcalendar.min.js')
    script(src='js/script.js')
